/* 
 * Main CSS File
 */
@import "compass/reset";
@import "compass_twitter_bootstrap";


@import "card";
@import "icon";

h1 {
  text-align: center;
  padding: 10px 0;
}

.player {
  .hand > li {
    display: inline-block;
  }
}

.player-coins {
  padding: 5px 0;
  li {
    margin: 0 20px;
  }
}


.board-container {
  position: relative;
  width: 100%;
  min-height: 700px;
  text-align: center;

  .player {
    position: absolute;
  }

  .player-0 {
    top: 0;
    left: 10px;
  }

  .player-1 {
    top: 0;
    right: 10px;
  }

  .player-2 {
    bottom: 0;
    left: 10px;
  }
  .player-3 {
    bottom: 0;
    right: 10px;
  }
}

.game-cards {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 220px;

  .game-cards-deck {
    float: left;
  }

  .game-cards-discard {
    float: right;

  }
}




